faiss-cpu
sentence-transformers
sec-edgar-downloader
beautifulsoup4
lxml
streamlit

numpy
pandas
scipy
matplotlib
yfinance
requests
openai
faiss-cpu
sentence-transformers
sec-edgar-downloader
python-dotenv